@font-face {
  font-family: "HK Grotesk Extra Bold";
  src: url("./Roboto-Black.ttf") format("ttf");
  /* font-weight: 800; */
  font-style: normal;
}
@font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-BlackItalic.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-Bold.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-BoldItalic.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  
    
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-Italic.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-Light.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-LightItalic.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-Medium.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
    
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-MediumItalic.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-Regular.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-Thin.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  
  
  @font-face {
    font-family: "HK Grotesk Extra Bold";
    src: url("./Roboto-ThinItalic.ttf") format("ttf");
    /* font-weight: 800; */
    font-style: normal;
  }
  
  